.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-bottom: 2rem;
    // position: fixed;
    padding: .5rem;
    // z-index: 10;
    width: 100%;

    background-color: black;
    &__links {
        text-decoration: none;
        color: white;
        letter-spacing: -1px;
        padding: .25rem;
        // border: 1px solid black;
        // border-radius: .125rem;
        // background-color: white;
        &--social-icons {
            display: flex;
        }
    }
}
.social-icon {
    width: 1.625rem;
    // background-color: black;
}
.bf-logo {
    width: 1.75rem;
}