.nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 1rem;
    // position: fixed;
    padding: .5rem;
    // z-index: 10;
    width: 100%;

    background-color: black;
    &__links {
        text-decoration: none;
        color: white;
        letter-spacing: -1px;
        padding: .25rem;
        // border: 1px solid black;
        // border-radius: .125rem;
        // background-color: white;
    }
}