.project-image {
    width:14rem;
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        justify-content: center;
        border-top: 1px solid lightgray;
        padding-top:.75rem;
    }
}
.project-card {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    padding: 1.5rem;
    margin: 2rem;
    background-color: white;
    &__title {
        margin-bottom: 0;
    }
    &__header {
        padding-bottom: .75rem;
        border-bottom: 1px solid lightgray;
        letter-spacing: -1px;
    }
    &__text {
        letter-spacing: -.5px;
    }
    
}
.github {
    &__box {
    display: flex;
    align-items: center;
    
    }
    &__link {
        text-decoration: none;
        color: black;
    }
    &__icon {
        width: 2rem;
        position: relative;
        top:.5rem;
    }
}