body {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #faf1d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.nav-bar {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    &__logo {
        width: 2rem;
        height: 2rem;
        margin: 2rem;
    }
}
.nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    position: fixed;
    padding: .5rem;
    z-index: 10;
    width: 100%;

    background-color: black;
    &__links {
        text-decoration: none;
        color: white;
        letter-spacing: -1px;
        padding: .25rem;
        // border: 1px solid black;
        // border-radius: .125rem;
        // background-color: white;
    }
}

.headshot{
    width:25vw;
    border-radius: 50%;
    &__box {
        display: flex;
        justify-content: center;
    }
}
.social-links {
    &__list {
        list-style: none;
        display: flex;
        flex-flow: wrap;
        padding: 0;
    }
    &__list-item {
        margin-right: 1.25rem;
        margin-top: .625rem;
    }
    &__link {
        color: black;
        font-weight: 700;
        font-size: 1.125rem;
    }
}
.subtitle {
    color: rgba(0, 0, 0, 0.45);
}
.bio {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.45;
    letter-spacing: 3;
}