body {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #faf1d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.headshot{
    width:70vw;
}
.social-links {
    &__list {
        list-style: none;
        display: flex;
        flex-flow: wrap;
        padding: 0;
    }
    &__list-item {
        margin-right: 1.25rem;
        margin-top: .625rem;
    }
    &__link {
        color: black;
        font-weight: 700;
        font-size: 1.125rem;
    }
}
.subtitle {
    color: rgba(0, 0, 0, 0.45);
}
.bio {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.45;
    letter-spacing: 3;
}